.message {
  display: flex;
  margin-bottom: 8px;
}

.message-body {
  background-color: #F2F2F2;
  color: #333333;
  padding: 12px;
  max-width: 50%;
  word-break: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
  direction: rtl;
  overflow: hidden;
  line-height: 1.4;
}

.message-body.collapsed {
  max-height: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message.peer {
  justify-content: flex-start;
}

.message.peer .message-body {
  background-color: #12A3CC;
  color: #FFFFFF;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: 20px;
}

.message.self {
  justify-content: flex-end;
}

.message.self .message-body {
  background-color: #DB0142;
  color: #FFFFFF;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-right: 20px;
}