@font-face {
    font-family: 'vazirmatn_Bold';
    src:url(../fonts/Vazirmatn-UI-Bold.woff2);

    font-family: 'vazirmatn_Medium';
    src:url(../fonts/Vazirmatn-UI-Medium.woff2);

    font-family: 'vazirmatn_Regular';
    src:url(../fonts/Vazirmatn-UI-Regular.woff2);

    font-family: 'vazirmatn_SemiBold';
    src:url(../fonts/Vazirmatn-UI-SemiBold.woff2);
}

