body {
  margin: 0;
  font-family: Vazirmatn Medium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(211, 207, 207);
}

code {
  font-family: Vazirmatn Medium;
}
