.container {
  width: 70%;
  height: 530px;
  max-height: 700px;
  
  overflow-y: auto;
  background-color: #F3EADA;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);

  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.content form .user-details1 {
  display: grid;
  grid-template-columns: auto auto;
  gap: 12px;
}

.user-details2 {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 12px;
}

.flex {
  display: flex;
  gap: 16px;
}



.radio_input {
  width: 100px !important;
  height: 20px !important;

}

.info {
  font-size: larger;
  margin: 2px;
}

.error {
    color: red;
    font-size:medium;
    margin-top: 8px;
    text-align: center;
}

.select{
  width: 70%;
  height: 40px;
}

.w-full {
  width: 100% !important;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 12px;
  justify-content: space-around;
}

.check_input {
  width: auto !important;
}

label {
  font-size: smaller;
}

@media (max-width: 980px) {
.user-details1 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 12px;
  }
  
  .user-details2 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 12px;
  }
}

@media (max-width :680px) {
  .content form .user-details1 {
    display: grid;
    grid-template-columns: auto;
    gap: 12px;
  }
  .user-details2 {
    display: grid;
    grid-template-columns: auto;
    gap: 12px;
  }
}