.orderItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
 
    border-radius: 5px;

    font-size: 22px;
  }
  
  .buy {
    color: #008000; 
  }
  
  .sell {
    color: #ff0000;
  }
  