body {
  margin: 0;
  font-family: 'Vazirmatn Medium';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:  #ECF0F1;
  direction: rtl;
}

code {
  font-family: 'Vazirmatn Medium';
}
