.comment-tree {
  width: 80%;
  height: auto;
  margin: 0 auto;
  overflow-y: auto;
  max-height: 100vh;
  background-color: #ffffffc0;
  border-radius: 16px;
}


@media (max-width: 767px) {
    .comment-tree {
      width: 100%;
    }
  }