.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    padding: 12px 8px;
    margin: 0 16px;
    font-size: 16px;
    font-family: 'Vazirmatn Medium';
  }
  
  .title-todo {
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
  }
  
  .remove-btn {
    position: relative;
    border-radius: 100%;
    background-color: #F0F0F0;
    width: 24px;
    height: 24px;
    text-align: center;
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
  }

  .remove-btn:hover {
    background-color: #ffff;
    color: #F84546;
  }
  
  .item:hover {
    background-color: #F84546;
    transition: background-color 0.3s;
    color: #ffff;
  }